body{
    background-color: #ffffff;
}

.redirect{
    width: 50%;
    background-color: white;
    border-radius: 3px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
}

.redirect_links{
    margin: auto;
    display: flex;
    flex-direction: column;
}

.a{
    margin-bottom: 10%;
}

.title{
    margin-top: 3%;
}

.qr_code{
    margin-top: 3%;
}

.qr_form{
    margin-top: 3% !important;
}

.message {
    color: red;
    text-align: center;
    margin-top: 20px;
}

.message.success {
    color: green;
}

.login {
    margin: auto;
    padding: 5px;
}

.whitespace{
    margin-right: 20px;
}

.google-logo{
    margin-left: 3px;
    width: 50px;
    height: 50px;
}

.centered-content{
    text-align: center !important;
}

.custom-input-group {
    position: relative;
    margin-left: 25%;
}